<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.EmployeeFilesMapper">
    <!-- 根据员工身份证，客户名称获取员工档案 -->
    <select id="getEmployeeFilesByIdNoOrClientName" resultType="com.authine.cloudpivot.web.api.entity.EmployeeFiles">
        SELECT * FROM i4fvb_employee_files
        <where>
            <if test="idNo != null">
                AND id_no = #{idNo}
            </if>
            <if test="clientName != null">
                AND client_name = #{clientName}
            </if>
        </where>
    </select>
</mapper>