<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.SystemManageMapper">
    <select id="getTimeNodeByCity" parameterType="java.lang.String" resultType="java.lang.Integer">
        select time_node from id34a_city_time_node where city = #{cityName}
    </select>
</mapper>