<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.BusinessInsuranceMapper">

    <!--根据商保增员表单id,生成人员信息表单-->
    <insert id="addBusinessInsurance" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO i4fvb_business_insurance_info
        (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime, modifier, modifiedTime,
        workflowInstanceId,sequenceNo, sequenceStatus, ownerDeptQueryCode, salesman, department, client_name,
        employee_name, identityNo, bank_card_number, bank, account_owner_name, mobile, level, service_fee,
        effective_date, content, employee_status)
        SELECT
        MD5(UUID()),name, creater, createdDeptId, owner, ownerDeptId, SYSDATE(), modifier, SYSDATE(), NULL, sequenceNo,
        'COMPLETED', ownerDeptQueryCode, salesman, department, client_name, employee_name, identityNo,
        bank_card_number, bank, account_owner_name, mobile, level, service_fee, effective_date, content, '在职'
        FROM i4fvb_add_business_insurance WHERE ID IN
        <foreach item="item" collection="array" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </insert>

    <!--根据商保增员表单id,生成子女信息表数据-->
    <insert id="addBusinessInsuranceChildrenInfo" parameterType="java.util.List">
        INSERT INTO i4fvb_children_info (children_name, children_identityNo, id, parentId, sortKey)
        SELECT child.children_name, child.children_identityNo, MD5(UUID()), info.id, child.sortKey
        FROM i4fvb_children_information child
        JOIN i4fvb_add_business_insurance parent ON parent.id = child.parentId
        JOIN i4fvb_business_insurance_info info ON parent.sequenceNo = info.sequenceNo
        AND parent.client_name = info.client_name
        AND parent.identityNo = info.identityNo
        WHERE child.parentId IN
        <foreach item="item" collection="array" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </insert>

    <!--根据商保减员表单id，修改对应人员信息表单的福利截止时间，备注-->
    <update id="updateBenefitDeadlineAndRemarks" parameterType="java.util.List">
        UPDATE i4fvb_business_insurance_info info
        INNER JOIN i4fvb_delete_business_insurance del ON info.client_name = del.client_name
        AND info.identityNo = del.identityNo
        SET info.benefit_deadline = del.benefit_deadline,
        info.remarks = del.remarks
        WHERE del.id IN
        <foreach item="item" collection="array" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--根据商保变更表单id,修改人员信息表单的商保信息（商保套餐等级，服务费，生效日，套餐内容）-->
    <update id="updateBusinessInsuranceInfo" parameterType="java.util.List">
        UPDATE i4fvb_business_insurance_info info
        INNER JOIN i4fvb_update_business_insurance source ON info.id = source.business_insurance_info_id
        SET info.level = source.after_level,
        info.service_fee = source.after_service_fee,
        info.effective_date = source.after_effective_date,
        info.content = source.after_content
        WHERE source.id IN
        <foreach item="item" collection="array" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--根据客户名称，身份证号码修改员工补充福利的员工状态-->
    <update id="updateWelfareSupplementState">
        UPDATE i4fvb_welfare_supplement
        SET state = #{status}
        <where>
            <if test="identityNo != null">
                AND identityNo = #{identityNo}
            </if>
            <if test="clientName != null">
                AND client = #{clientName}
            </if>
        </where>
    </update>

    <!--根据客户名称，身份证号码修改商保人员信息的员工状态-->
    <update id="updateBusinessInsuranceInfoEmployeeStatus">
        UPDATE i4fvb_business_insurance_info
        SET employee_status = #{status}
        <where>
            <if test="identityNo != null">
                AND identityNo = #{identityNo}
            </if>
            <if test="clientName != null">
                AND client_name = #{clientName}
            </if>
        </where>
    </update>

    <insert id="batchInsertAddBusinessInsurance" parameterType="java.util.List">
        INSERT INTO i4fvb_add_business_insurance (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
        modifier, modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus, ownerDeptQueryCode, salesman,
        department, client_name, employee_name, identityNo, bank_card_number, bank, account_owner_name, mobile, level,
        service_fee, effective_date, content)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name},
            #{item.creater},#{item.createdDeptId},#{item.owner},#{item.ownerDeptId},#{item.createdTime},
            #{item.modifier},#{item.modifiedTime}, #{item.workflowInstanceId},#{item.sequenceNo},
            #{item.sequenceStatus}, #{item.ownerDeptQueryCode},#{item.salesman}, #{item.department}, #{item.clientName},
            #{item.employeeName},#{item.identityNo}, #{item.bankCardNumber}, #{item.bank},#{item.accountOwnerName},
            #{item.mobile}, #{item.level}, #{item.serviceFee},#{item.effectiveDate}, #{item.content})
        </foreach>
    </insert>

    <insert id="batchInsertChildrenInformation" parameterType="java.util.List">
        INSERT INTO i4fvb_children_information ( children_name, children_identityNo, id, parentId, sortKey)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.childrenName}, #{item.childrenIdentityNo},#{item.id},#{item.parentId},#{item.sortKey})
        </foreach>
    </insert>

    <insert id="batchInsertDeleteBusinessInsurance" parameterType="java.util.List">
        INSERT INTO i4fvb_delete_business_insurance (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
        modifier, modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus, ownerDeptQueryCode, salesman,
        department, client_name, employee_name, identityNo, benefit_deadline, remarks)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name},
            #{item.creater},#{item.createdDeptId},#{item.owner},#{item.ownerDeptId},#{item.createdTime},
            #{item.modifier},#{item.modifiedTime}, #{item.workflowInstanceId},#{item.sequenceNo},
            #{item.sequenceStatus}, #{item.ownerDeptQueryCode},#{item.salesman}, #{item.department}, #{item.clientName},
            #{item.employeeName},#{item.identityNo}, #{item.benefitDeadline}, #{item.remarks})
        </foreach>
    </insert>
</mapper>