<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.CollectionRuleMapper">

    <!--将有效终止月<当前时间的汇缴规则数据转移到历史数据中-->
    <insert id="moveCollectionRuleDataToHistory">
        INSERT INTO i080j_crm_collection_rule_history(product_name, acquisition_cycle, payment_frequency,
                                                      company_max_base_num, company_min_base_num, employee_max_base_num,
                                                      employee_min_base_num, company_surcharge_value,
                                                      employee_surcharge_value, company_ratio, employee_ratio,
                                                      effective_start_month, effective_termination_month,
                                                      company_rounding_policy, employee_rounding_policy,
                                                      company_precision, employee_precision, product_description, id,
                                                      parentId, sortKey)
        SELECT product_name,
               acquisition_cycle,
               payment_frequency,
               company_max_base_num,
               company_min_base_num,
               employee_max_base_num,
               employee_min_base_num,
               company_surcharge_value,
               employee_surcharge_value,
               company_ratio,
               employee_ratio,
               effective_start_month,
               effective_termination_month,
               company_rounding_policy,
               employee_rounding_policy,
               company_precision,
               employee_precision,
               product_description,
               id,
               parentId,
               sortKey
        FROM i080j_crm_collection_rule
        WHERE effective_termination_month IS NOT NULL
          AND DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[ < ]]> DATE_FORMAT(SYSDATE(), '%Y%m')
    </insert>

    <!--将有效终止月<当前时间的汇缴规则数据删除-->
    <delete id="deleteOvertimeCollectionRuleData">
        DELETE
        FROM i080j_crm_collection_rule
        WHERE effective_termination_month IS NOT NULL
          AND DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[ < ]]> DATE_FORMAT(SYSDATE(), '%Y%m')
    </delete>

    <select id="getCollectionRuleMaintain" resultType="com.authine.cloudpivot.web.api.entity.CollectionRuleMaintain">
        SELECT *
        FROM i080j_n_collection_rule_maintain
        WHERE city = #{city}
          AND welfare_handler = #{welfareHandler}
        ORDER BY createdTime DESC
        LIMIT 0,1
    </select>

    <select id="getSbPaymentRules" resultType="com.authine.cloudpivot.web.api.entity.PaymentRules">
        SELECT *
        FROM i080j_crm_payment_rules
        WHERE parentId = #{parentId}
          AND product_name IN ('养老保险', '医疗保险', '失业保险', '工伤保险', '生育保险', '大病保险', '综合保险', '补充工伤')
          AND effective_start_month IS NOT NULL
          AND ((DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> #{startMonth} AND
                (effective_termination_month IS NULL OR
                 DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> #{startMonth}))
            OR (DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> DATE_FORMAT(SYSDATE(), '%Y%m') AND
                (effective_termination_month IS NULL OR
                 DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> DATE_FORMAT(SYSDATE(), '%Y%m'))))
        ORDER BY product_name, effective_start_month DESC
    </select>

    <select id="getGjjPaymentRules" resultType="com.authine.cloudpivot.web.api.entity.PaymentRules">
        SELECT *
        FROM i080j_crm_payment_rules
        WHERE parentId = #{parentId}
          AND product_name IN (#{productName}, '补充公积金')
          AND effective_start_month IS NOT NULL
          AND company_ratio = #{companyRatio}
          AND employee_ratio = #{employeeRatio}
          AND ((DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> #{startMonth} AND
                (effective_termination_month IS NULL OR
                 DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> #{startMonth}))
            OR (DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> DATE_FORMAT(SYSDATE(), '%Y%m') AND
                (effective_termination_month IS NULL OR
                 DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> DATE_FORMAT(SYSDATE(), '%Y%m'))))
        ORDER BY product_name, effective_start_month DESC
    </select>

    <select id="getSbCollectionRules" resultType="com.authine.cloudpivot.web.api.entity.CollectionRule">
        SELECT *
        FROM i080j_crm_collection_rule
        WHERE parentId = #{parentId}
          AND product_name IN ('养老保险', '医疗保险', '失业保险', '工伤保险', '生育保险', '大病保险', '综合保险', '补充工伤')
          AND effective_start_month IS NOT NULL
          AND DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> #{startMonth}
          AND (effective_termination_month IS NULL OR
               DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> #{startMonth})
        ORDER BY product_name, effective_start_month
    </select>

    <select id="getGjjCollectionRules" resultType="com.authine.cloudpivot.web.api.entity.CollectionRule">
        SELECT *
        FROM i080j_crm_collection_rule
        WHERE parentId = #{parentId}
          AND product_name IN (#{productName}, '补充公积金')
          AND effective_start_month IS NOT NULL
          AND company_ratio = #{companyRatio}
          AND employee_ratio = #{employeeRatio}
          AND DATE_FORMAT(effective_start_month, '%Y%m') <![CDATA[<=]]> #{startMonth}
          AND (effective_termination_month IS NULL OR
               DATE_FORMAT(effective_termination_month, '%Y%m') <![CDATA[>=]]> #{startMonth})
        ORDER BY product_name, effective_start_month
    </select>

    <select id="isHaveCompanyRatioInMaxStartMonth" resultType="com.authine.cloudpivot.web.api.entity.CrmCollectionRule">
        SELECT *
        FROM i080j_crm_collection_rule
        WHERE parentId IN (SELECT id
                           FROM i080j_n_collection_rule_maintain
                           WHERE city = #{city}
                             AND welfare_handler = #{welfareHandler})
        HAVING effective_start_month = (SELECT MAX(effective_start_month)
                                        FROM i080j_crm_collection_rule
                                        WHERE parentId IN
                                              (SELECT id
                                               FROM i080j_n_collection_rule_maintain
                                               WHERE city = #{city}
                                                 AND welfare_handler = #{welfareHandler})
                                          AND product_name LIKE '%公积金%')
           AND company_ratio = #{companyRadio}
    </select>
</mapper>