<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.CollectionRuleMapper">

    <!--社保公积金福利地相同时-->
    <resultMap id="collectionRule" type="com.authine.cloudpivot.web.api.entity.CollectionRule">
        <id column="id" property="id"></id>
        <collection property="collectionRuleDetails"
                    select="com.authine.cloudpivot.web.api.mapper.CollectionRuleMapper.getCollectionRuleDetailsByParentId"
                    column="id"></collection>
    </resultMap>
    <select id="getCollectionRulesByCity" resultMap="collectionRule">
        SELECT *
        FROM i4fvb_collection_rule_maintain
        WHERE city = #{city}
    </select>
    <select id="getCollectionRuleDetailsByParentId"
            resultType="com.authine.cloudpivot.web.api.entity.CollectionRuleDetails">
        SELECT *
        FROM i080j_collection_rule
        WHERE parentId = #{id}
    </select>

    <!--社保公积金福利地不相同时，社保查询-->
    <resultMap id="sCollectionRule" type="com.authine.cloudpivot.web.api.entity.CollectionRule">
        <id column="id" property="id"></id>
        <collection property="collectionRuleDetails"
                    select="com.authine.cloudpivot.web.api.mapper.CollectionRuleMapper.getSbCollectionRuleDetailsByParentId"
                    column="id"></collection>
    </resultMap>
    <select id="getSbCollectionRulesByCity" resultMap="sCollectionRule">
        SELECT *
        FROM i4fvb_collection_rule_maintain
        WHERE city = #{city}
    </select>
    <select id="getSbCollectionRuleDetailsByParentId"
            resultType="com.authine.cloudpivot.web.api.entity.CollectionRuleDetails">
        SELECT *
        FROM i080j_collection_rule
        WHERE parentId = #{id}
          AND insurance_name LIKE '%社保%'
    </select>

    <!--社保公积金福利地不相同时，公积金查询-->
    <resultMap id="gCollectionRule" type="com.authine.cloudpivot.web.api.entity.CollectionRule">
        <id column="id" property="id"></id>
        <collection property="collectionRuleDetails"
                    select="com.authine.cloudpivot.web.api.mapper.CollectionRuleMapper.getGjjCollectionRuleDetailsByParentId"
                    column="id"></collection>
    </resultMap>
    <select id="getGjjCollectionRulesByCity" resultMap="gCollectionRule">
        SELECT *
        FROM i4fvb_collection_rule_maintain
        WHERE city = #{city}
    </select>
    <select id="getGjjCollectionRuleDetailsByParentId"
            resultType="com.authine.cloudpivot.web.api.entity.CollectionRuleDetails">
        SELECT *
        FROM i080j_collection_rule
        WHERE parentId = #{id}
          AND insurance_name LIKE '%公积金%'
    </select>

    <select id="isHaveCompanyRatioInMaxStartMonth" resultType="com.authine.cloudpivot.web.api.entity.CrmCollectionRule">
        SELECT *
        FROM i080j_crm_collection_rule
        WHERE parentId = (SELECT id FROM i080j_n_collection_rule_maintain WHERE city = #{city})
          AND product_name LIKE '%公积金%'
        HAVING effective_start_month = MAX(effective_start_month)
           AND company_ratio = #{companyRadio}

    </select>
</mapper>