<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.DeleteEmployeeMapper">
    <!--根据id,查询减员客户数据-->
    <select id="getDeleteEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        SELECT * FROM i4fvb_delete_employee WHERE id = #{id}
    </select>

    <!--根据id,查询减员上海数据-->
    <select id="getShDeleteEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        SELECT * FROM i4fvb_sh_delete_employee WHERE id = #{id}
    </select>

    <!--根据id,查询减员全国数据-->
    <select id="getQgDeleteEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        SELECT * FROM i4fvb_nationwide_dispatch_delete WHERE id = #{id}
    </select>

    <update id="updateReturnReason">
        UPDATE ${tableName} SET return_reason = #{returnReason} WHERE id = #{id}
    </update>

    <insert id="addSocialSecurityClose" parameterType="com.authine.cloudpivot.web.api.entity.SocialSecurityClose">
        INSERT INTO i4fvb_social_security_close(id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
                                                modifier, modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus,
                                                ownerDeptQueryCode, employee_name, gender, identityNo, birthday,
                                                welfare_handler, start_month, charge_end_month, resignation_remarks,
                                                social_security_base, identityNo_type, operate_leader,
                                                employee_order_form_id, status, first_level_client_name,
                                                second_level_client_name, city, operator, inquirer, employee_files_id,
                                                del_employee_id, subordinate_department)
        VALUES (#{id}, #{name}, #{creater}, #{createdDeptId}, #{owner}, #{ownerDeptId}, #{createdTime}, #{modifier},
                #{modifiedTime}, #{workflowInstanceId}, #{sequenceNo}, #{sequenceStatus}, #{ownerDeptQueryCode},
                #{employeeName}, #{gender}, #{identityNo}, #{birthday}, #{welfareHandler}, #{startMonth},
                #{chargeEndMonth}, #{resignationRemarks}, #{socialSecurityBase}, #{identityNoType}, #{operateLeader},
                #{employeeOrderFormId}, #{status}, #{firstLevelClientName}, #{secondLevelClientName}, #{city},
                #{operator}, #{inquirer}, #{employeeFilesId}, #{delEmployeeId}, #{subordinateDepartment})
    </insert>

    <select id="getGjjEmployeeOrderFormDetails" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.EmployeeOrderFormDetails">
        SELECT *
        FROM i4fvb_order_details_remittance
        WHERE parentId = #{parentId}
          AND product_name IN ('省直公积金', '市直公积金')
          AND date_format(start_charge_time, '%Y%m') <![CDATA[<=]]> date_format(SYSDATE(), '%Y%m')
          AND (end_charge_time IS NULL OR DATE_FORMAT(end_charge_time, '%Y%m') <![CDATA[>=]]> date_format(SYSDATE(), '%Y%m'))
        ORDER BY start_charge_time
                 LIMIT 0,1
    </select>

    <insert id="addProvidentFundClose" parameterType="com.authine.cloudpivot.web.api.entity.ProvidentFundClose">
        INSERT INTO i4fvb_provident_fund_close(id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
                                               modifier, modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus,
                                               ownerDeptQueryCode, employee_name, gender, identityNo, birthday,
                                               welfare_handler, start_month, charge_end_month, provident_fund_base,
                                               enterprise_deposit, personal_deposit, total_deposit, identityNo_type,
                                               operate_leader, employee_order_form_id, status, first_level_client_name,
                                               second_level_client_name, city, operator, inquirer, employee_files_id,
                                               del_employee_id, subordinate_department, company_provident_fund_bl,
                                               employee_provident_fund_bl)
        VALUES (#{id}, #{name}, #{creater}, #{createdDeptId}, #{owner}, #{ownerDeptId}, #{createdTime}, #{modifier},
                #{modifiedTime}, #{workflowInstanceId}, #{sequenceNo}, #{sequenceStatus}, #{ownerDeptQueryCode},
                #{employeeName}, #{gender}, #{identityNo}, #{birthday}, #{welfareHandler}, #{startMonth},
                #{chargeEndMonth}, #{providentFundBase}, #{enterpriseDeposit}, #{personalDeposit}, #{totalDeposit},
                #{identityNoType}, #{operateLeader}, #{employeeOrderFormId}, #{status}, #{firstLevelClientName},
                #{secondLevelClientName}, #{city}, #{operator}, #{inquirer}, #{employeeFilesId}, #{delEmployeeId},
                #{subordinateDepartment}, #{companyProvidentFundBl}, #{employeeProvidentFundBl})
    </insert>

    <update id="updateEmployeeOrderFromChargeEndTime"
            parameterType="com.authine.cloudpivot.web.api.entity.EmployeeOrderForm">
        UPDATE i4fvb_employee_order_form
        SET social_security_charge_end = #{socialSecurityChargeEnd},
            provident_fund_charge_end  = #{providentFundChargeEnd}
        WHERE id = #{id}
    </update>

    <update id="updateDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        UPDATE i4fvb_delete_employee
        SET name                     = #{employeeName},
            employee_name            = #{employeeName},
            identityNo               = #{identityNo},
            leave_reason             = #{leaveReason},
            leave_time               = #{leaveTime},
            social_security_end_time = #{socialSecurityEndTime},
            remark                   = #{remark},
            identityNo_type          = #{identityNoType},
            provident_fund_end_time  = #{providentFundEndTime},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            social_security_city     = #{socialSecurityCity},
            provident_fund_city      = #{providentFundCity},
            s_welfare_handler        = #{sWelfareHandler},
            g_welfare_handler        = #{gWelfareHandler},
            gender                   = #{gender},
            birthday                 = #{birthday},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            sb_status                = #{sbStatus},
            gjj_status               = #{gjjStatus},
            return_reason            = #{returnReason},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{id}
    </update>

    <update id="updateShDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        UPDATE i4fvb_sh_delete_employee
        SET name                         = #{employeeName},
            employee_name                = #{employeeName},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            client_num                   = #{clientNum},
            client_short_name            = #{clientShortName},
            OS_initiated_departure_time  = #{osInitiatedDepartureTime},
            departure_time               = #{departureTime},
            charge_end_time              = #{chargeEndTime},
            leave_reason                 = #{leaveReason},
            leave_remark                 = #{leaveRemark},
            provident_fund_transfer_mode = #{providentFundTransferMode},
            backtrack                    = #{backtrack},
            GE_leave_reason              = #{geLeaveReason},
            customer_num                 = #{customerNum},
            weather_leave_E              = #{weatherLeaveE},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{id}
    </update>

    <update id="updateQgDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        UPDATE i4fvb_nationwide_dispatch_delete
        SET name                         = #{employeeName},
            unique_num                   = #{uniqueNum},
            employee_name                = #{employeeName},
            contact_number               = #{contactNumber},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            national_business_wf_flag    = #{nationalBusinessWfFlag},
            involved                     = #{involved},
            business_customer_num        = #{businessCustomerNum},
            business_wf_status           = #{businessWfStatus},
            order_type                   = #{orderType},
            processing_status            = #{processingStatus},
            contracting_supplier         = #{contractingSupplier},
            contracting_representative   = #{contractingRepresentative},
            contracting_party_department = #{contractingPartyDepartment},
            into_pending_date            = #{intoPendingDate},
            task_list_update_date        = #{taskListUpdateDate},
            entry_date                   = #{entryDate},
            employee_email               = #{employeeEmail},
            order_id                     = #{orderId},
            order_start_date             = #{orderStartDate},
            assignment_date              = #{assignmentDate},
            entry_procedures_num         = #{entryProceduresNum},
            business_tips                = #{businessTips},
            order_end_date               = #{orderEndDate},
            withdrawal_date              = #{withdrawalDate},
            social_insurance_amount      = #{socialInsuranceAmount},
            provident_fund_amount        = #{providentFundAmount},
            supple_provident_fund_amount = #{suppleProvidentFundAmount},
            revocation_reason            = #{revocationReason},
            social_security_stop_reason  = #{socialSecurityStopReason},
            departure_date               = #{departureDate},
            departure_remark             = #{departureRemark},
            change_details               = #{changeDetails},
            change_take_effect_date      = #{changeTakeEffectDate},
            business_unit                = #{businessUnit},
            salesman                     = #{salesman},
            social_security_pay_method   = #{socialSecurityPayMethod},
            provident_fund_pay_method    = #{providentFundPayMethod},
            supplier_agreement_name      = #{supplierAgreementName},
            provident_fund_ratio         = #{providentFundRatio},
            supple_provident_fund_ratio  = #{suppleProvidentFundRatio},
            social_security_standard     = #{socialSecurityStandard},
            s_service_fee_start_date     = #{sServiceFeeStartDate},
            s_service_fee_end_date       = #{sServiceFeeEndDate},
            g_service_fee_start_date     = #{gServiceFeeStartDate},
            g_service_fee_end_date       = #{gServiceFeeEndDate},
            remark                       = #{remark},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            welfare_handler              = #{welfareHandler},
            employee_internal_num        = #{employeeInternalNum},
            is_retired_soldier           = #{isRetiredSoldier},
            is_poor_archivists           = #{isPoorArchivists},
            is_disabled                  = #{isDisabled},
            workplace                    = #{workplace},
            household_register_remarks   = #{householdRegisterRemarks},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{id}
    </update>

    <select id="getUpdateDelEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        SELECT * FROM i4fvb_add_employee_update WHERE id = #{id}
    </select>

    <select id="getUpdateShDelEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        SELECT * FROM i4fvb_sh_add_employee_update WHERE id = #{id}
    </select>

    <select id="getUpdateQgDelEmployeeById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        SELECT * FROM i4fvb_nationwide_dispatch_update WHERE id = #{id}
    </select>

    <select id="getEmployeeFilesByDelEmployeeId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.EmployeeFiles">
        SELECT * FROM i4fvb_employee_files WHERE sb_del_employee_id = #{delEmployeeId}
                                              OR gjj_del_employee_id = #{delEmployeeId} ORDER BY createdTime DESC LIMIT 0,1
    </select>

    <update id="updateDeleteEmployeeByUpdate" parameterType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        UPDATE i4fvb_delete_employee
        SET name                     = #{employeeName},
            employee_name            = #{employeeName},
            identityNo               = #{identityNo},
            leave_reason             = #{leaveReason},
            leave_time               = #{leaveTime},
            social_security_end_time = #{socialSecurityEndTime},
            remark                   = #{remark},
            identityNo_type          = #{identityNoType},
            provident_fund_end_time  = #{providentFundEndTime},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            social_security_city     = #{socialSecurityCity},
            provident_fund_city      = #{providentFundCity},
            s_welfare_handler        = #{sWelfareHandler},
            g_welfare_handler        = #{gWelfareHandler},
            gender                   = #{gender},
            birthday                 = #{birthday},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            return_reason            = #{returnReason},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{deleteEmployeeId}
    </update>

    <update id="updateShDeleteEmployeeByUpdate" parameterType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        UPDATE i4fvb_sh_delete_employee
        SET name                         = #{employeeName},
            employee_name                = #{employeeName},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            client_num                   = #{clientNum},
            client_short_name            = #{clientShortName},
            OS_initiated_departure_time  = #{osInitiatedDepartureTime},
            departure_time               = #{departureTime},
            charge_end_time              = #{chargeEndTime},
            leave_reason                 = #{leaveReason},
            leave_remark                 = #{leaveRemark},
            provident_fund_transfer_mode = #{providentFundTransferMode},
            backtrack                    = #{backtrack},
            GE_leave_reason              = #{geLeaveReason},
            customer_num                 = #{customerNum},
            weather_leave_E              = #{weatherLeaveE},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{shDeleteEmployeeId}
    </update>

    <update id="updateQgDeleteEmployeeByUpdate" parameterType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        UPDATE i4fvb_nationwide_dispatch_delete
        SET name                         = #{employeeName},
            unique_num                   = #{uniqueNum},
            employee_name                = #{employeeName},
            contact_number               = #{contactNumber},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            national_business_wf_flag    = #{nationalBusinessWfFlag},
            involved                     = #{involved},
            business_customer_num        = #{businessCustomerNum},
            business_wf_status           = #{businessWfStatus},
            order_type                   = #{orderType},
            processing_status            = #{processingStatus},
            contracting_supplier         = #{contractingSupplier},
            contracting_representative   = #{contractingRepresentative},
            contracting_party_department = #{contractingPartyDepartment},
            into_pending_date            = #{intoPendingDate},
            task_list_update_date        = #{taskListUpdateDate},
            entry_date                   = #{entryDate},
            employee_email               = #{employeeEmail},
            order_id                     = #{orderId},
            order_start_date             = #{orderStartDate},
            assignment_date              = #{assignmentDate},
            entry_procedures_num         = #{entryProceduresNum},
            business_tips                = #{businessTips},
            order_end_date               = #{orderEndDate},
            withdrawal_date              = #{withdrawalDate},
            social_insurance_amount      = #{socialInsuranceAmount},
            provident_fund_amount        = #{providentFundAmount},
            supple_provident_fund_amount = #{suppleProvidentFundAmount},
            revocation_reason            = #{revocationReason},
            social_security_stop_reason  = #{socialSecurityStopReason},
            departure_date               = #{departureDate},
            departure_remark             = #{departureRemark},
            change_details               = #{changeDetails},
            change_take_effect_date      = #{changeTakeEffectDate},
            business_unit                = #{businessUnit},
            salesman                     = #{salesman},
            social_security_pay_method   = #{socialSecurityPayMethod},
            provident_fund_pay_method    = #{providentFundPayMethod},
            supplier_agreement_name      = #{supplierAgreementName},
            provident_fund_ratio         = #{providentFundRatio},
            supple_provident_fund_ratio  = #{suppleProvidentFundRatio},
            social_security_standard     = #{socialSecurityStandard},
            s_service_fee_start_date     = #{sServiceFeeStartDate},
            s_service_fee_end_date       = #{sServiceFeeEndDate},
            g_service_fee_start_date     = #{gServiceFeeStartDate},
            g_service_fee_end_date       = #{gServiceFeeEndDate},
            remark                       = #{remark},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            welfare_handler              = #{welfareHandler},
            employee_internal_num        = #{employeeInternalNum},
            is_retired_soldier           = #{isRetiredSoldier},
            is_poor_archivists           = #{isPoorArchivists},
            is_disabled                  = #{isDisabled},
            workplace                    = #{workplace},
            household_register_remarks   = #{householdRegisterRemarks},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{nationwideDispatchDelId}
    </update>

    <delete id="deleteCloseDataByDelEmployeeId">
        DELETE FROM ${tableName} WHERE del_employee_id = #{delEmployeeId}
    </delete>

    <delete id="deleteBatchEvacuationByDeleteEmployeeId">
        DELETE FROM i4fvb_batch_evacuation WHERE delete_employee_id = #{delEmployeeId}
    </delete>

    <update id="updateEmployeeOrderFromStatus">
        UPDATE i4fvb_employee_order_form SET ${field} = #{status} WHERE id = #{id}
    </update>

    <update id="updateDeleteEmployeeStatus">
        UPDATE i4fvb_delete_employee
        SET ${field} = #{status}
        <if test="returnReason != null">
            , return_reason = #{returnReason}
        </if>
        WHERE id = #{id}
    </update>

    <select id="listSocialSecurityClose" parameterType="java.util.List"
            resultType="com.authine.cloudpivot.web.api.entity.SocialSecurityClose">
        SELECT * FROM i4fvb_social_security_close WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listProvidentFundClose" parameterType="java.util.List"
            resultType="com.authine.cloudpivot.web.api.entity.ProvidentFundClose">
        SELECT * FROM i4fvb_provident_fund_close WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>