<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.EmployeesMaintainMapper">
    <select id="getSocialSecurityDeclareById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.SocialSecurityDeclare">
        SELECT * FROM i4fvb_social_security_declare WHERE id = #{id}
    </select>

    <select id="getProvidentFundDeclareById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.ProvidentFundDeclare">
        SELECT * FROM i4fvb_provident_fund_declare WHERE id = #{id}
    </select>

    <select id="getSocialSecurityCloseById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.SocialSecurityClose">
        SELECT * FROM i4fvb_social_security_close WHERE id = #{id}
    </select>

    <select id="getProvidentFundCloseById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.ProvidentFundClose">
        SELECT * FROM i4fvb_provident_fund_close WHERE id = #{id}
    </select>

    <update id="updateAddOrDelEmployeeStatus">
        UPDATE ${tableName} SET sb_status = #{status},gjj_status = #{status} WHERE id IN
        <foreach item="item" collection="ids" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateTableStatus">
        UPDATE ${tableName} SET ${field} = #{status} WHERE id IN
        <foreach item="item" collection="ids" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateStatus">
        UPDATE ${tableName} SET ${field} = #{status} WHERE id = #{id}
    </update>

    <insert id="insertEmployeeOrderFormDetailsFromSb">
        INSERT INTO ${tableName}(product_name, start_charge_time, end_charge_time, base_num, company_ratio,
        employee_ratio, sum, company_money, employee_money, company_surcharge_value, employee_surcharge_value, id,
        parentId, sortKey)
        SELECT product_name, start_charge_time, end_charge_time, base_num, company_ratio, employee_ratio, sum,
        company_money, employee_money, company_surcharge_value, employee_surcharge_value, MD5(UUID()), #{parentId},
        sortKey
        FROM
        <if test="tableName = 'i4fvb_order_details_pay_back'">i4fvb_order_details_pay_back_sb</if>
        <if test="tableName = 'i4fvb_order_details_remittance'">i4fvb_order_details_remittance_sb</if>
        WHERE parentId IN (SELECT id FROM i4fvb_social_security_declare WHERE employee_order_form_id = #{parentId})
    </insert>

    <insert id="insertEmployeeOrderFormDetailsFromGjj">
        INSERT INTO ${tableName}(product_name, start_charge_time, end_charge_time, base_num, company_ratio,
        employee_ratio, sum, company_money, employee_money, company_surcharge_value, employee_surcharge_value, id,
        parentId, sortKey)
        SELECT product_name, start_charge_time, end_charge_time, base_num, company_ratio, employee_ratio, sum,
        company_money, employee_money, company_surcharge_value, employee_surcharge_value, MD5(UUID()), #{parentId},
        sortKey
        FROM
        <if test="tableName = 'i4fvb_order_details_pay_back'">i4fvb_order_details_pay_back_gjj</if>
        <if test="tableName = 'i4fvb_order_details_remittance'">i4fvb_order_details_remittance_gjj</if>
        WHERE parentId IN (SELECT id FROM i4fvb_provident_fund_declare WHERE employee_order_form_id = #{parentId})
    </insert>
</mapper>