<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.NccpsMapper">
    <!--根据客户名称查询客户个性化设置-->
    <select id="getNccpsByClientName" resultType="com.authine.cloudpivot.web.api.entity.Nccps">
        SELECT *
        FROM i080j_nccps
        WHERE first_level_client_name = #{firstLevelClientName}
          AND second_level_client_name = #{secondLevelClientName}
        ORDER BY createdTime DESC
        LIMIT 0,1
    </select>

    <!--根据父级id和城市查询工伤比例数据-->
    <select id="getNccpsWorkInjuryRatioByParentIdAndCity"
            resultType="com.authine.cloudpivot.web.api.entity.NccpsWorkInjuryRatio">
        SELECT *
        FROM i080j_nccps_work_injury_ratio
        WHERE parentId = #{parentId}
          AND city = #{city}
          AND welfare_handler = #{welfareHandler}
        ORDER BY sortKey
        LIMIT 0,1
    </select>

    <select id="getNccpsProvidentFoundRatioByFirstOrSecondClientName"
            resultType="com.authine.cloudpivot.web.api.entity.NccpsProvidentFundRatio">
        SELECT *
        FROM i080j_nccps_provident_fund_ratio
        WHERE parentId IN (SELECT id
                           FROM i080j_nccps
                           WHERE (first_level_client_name = (SELECT id
                                                             FROM id34a_first_level_client
                                                             WHERE company_name = #{firstClientName}
                                                             ORDER BY createdTime DESC) OR second_level_client_name =
                                                                                           (SELECT id
                                                                                            FROM ibkct_second_level_client
                                                                                            WHERE company_name = #{secondClientName}
                                                                                            ORDER BY createdTime DESC))
                             AND city = #{city}
                             AND welfare_handler = #{welfareHandler})
    </select>
</mapper>