<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.ProvidentFundDeclareMapper">

    <resultMap id="declareDto" type="com.authine.cloudpivot.web.api.dto.DeclareDto">
        <id property="id" column="id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="identityNo" column="identityNo"/>
        <result property="firstLevelClientName" column="first_level_client_name"/>
        <result property="secondLevelClientName" column="second_level_client_name"/>
        <collection property="orderDetailsRemittanceList" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.ProvidentFundDeclareMapper.getOrderDetailsRemittanceGjjByParentId"/>
        <collection property="orderDetailsPayBackList" column="id"
                    select="com.authine.cloudpivot.web.api.mapper.ProvidentFundDeclareMapper.getOrderDetailsPayBackGjjByParentId"/>
    </resultMap>
    <select id="getProvidentFundDeclareDtoList" resultType="java.util.Map" resultMap="declareDto">
        SELECT id,
        employee_name,
        identityNo,
        first_level_client_name,
        second_level_client_name
        FROM i4fvb_provident_fund_declare
        <where>
            <if test="status != unll">
                AND status = #{status}
            </if>
            <if test="city != null">
                AND city = #{city}
            </if>
            <if test="welfareHandler != null">
                AND welfare_handler = #{welfareHandler}
            </if>
            <if test="createdStartTime != null">
                AND createdTime BETWEEN(#{createdStartTime}, #{createdEndTime})
            </if>
            <if test="startMonth != null">
                AND start_month BETWEEN(#{startMonth}, #{endMonth})
            </if>
            <if test="billYear != null">
                AND bill_year = #{billYear}
            </if>
        </where>
    </select>

    <select id="getOrderDetailsRemittanceGjjByParentId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.OrderDetails">
        SELECT product_name,
               start_charge_time,
               end_charge_time,
               company_base,
               employee_base,
               company_ratio,
               employee_ratio,
               sum,
               company_money,
               employee_money,
               company_surcharge_value,
               employee_surcharge_value
        FROM i4fvb_order_details_remittance_gjj
        WHERE parentId = #{parentId}
    </select>

    <select id="getOrderDetailsPayBackGjjByParentId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.OrderDetails">
        SELECT product_name,
               start_charge_time,
               end_charge_time,
               company_base,
               employee_base,
               company_ratio,
               employee_ratio,
               sum,
               company_money,
               employee_money,
               company_surcharge_value,
               employee_surcharge_value
        FROM i4fvb_order_details_pay_back_gjj
        WHERE parentId = #{parentId}
    </select>


</mapper>