<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.SalesmansMaintainMapper">
    <select id="getSalesmansAndDepartment" resultType="com.authine.cloudpivot.web.api.entity.SalesmansMaintain">
        SELECT salesman,
               department
        FROM ibkct_salesmans_maintain
        WHERE first_level_client_name = #{firstLevelClientName}
          AND second_level_client_name = #{secondLevelClientName}
          AND business_type = #{businessType}
          AND welfare = #{welfare}
          AND welfare_operator = #{welfareOperator}
        GROUP BY createdTime
        LIMIT 0, 1
    </select>

    <!--根据一级客户，二级客户，业务类型，福利地，福利办理方查询-->
    <select id="getSalesmansMaintain" resultType="com.authine.cloudpivot.web.api.entity.SalesmansMaintain">
        SELECT *
        FROM ibkct_salesmans_maintain
        WHERE first_level_client_name = #{firstLevelClientName}
          AND second_level_client_name = #{secondLevelClientName}
          AND business_type LIKE concat('%', #{businessType}, '%')
          AND (welfare IS NULL OR welfare LIKE concat('%', #{city}, '%'))
          AND welfare_operator LIKE concat('%', #{welfareHandler}, '%')
        ORDER BY IF(ISNULL(welfare), 1, 0),createdTime DESC LIMIT 0,1
    </select>
</mapper>