<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.SalesContractMapper">

    <resultMap id="salesContractDto" type="com.authine.cloudpivot.web.api.dto.SalesContractDto">
        <id column="id" property="id"></id>
        <collection property="serviceChargeUnitPrices" select="com.authine.cloudpivot.web.api.mapper.SalesContractMapper.getServiceChargeUnitPricesById" column="id"></collection>
    </resultMap>

    <select id="getSalesContractByBillDay" parameterType="java.lang.String" resultMap="salesContractDto">
        SELECT * FROM i8c71_sales_contract WHERE bill_day = #{billDay} AND (business_type = '派遣业务' OR business_type = '专项外包' OR business_type = '代理业务')
    </select>


    <select id="getSalesContractDto" resultMap="salesContractDto">
        SELECT * FROM i8c71_sales_contract WHERE client_name = #{clientName} AND business_type LIKE CONCAT('%', #{businessType}, '%') LIMIT 0, 1
    </select>

    <!-- 根据父id获取销售合同中的销售单单价列表 -->
    <select id="getServiceChargeUnitPricesById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.ServiceChargeUnitPrice">
        SELECT * FROM i8c71_service_charge_unit_price WHERE parentId = #{id}
    </select>

</mapper>