<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.SocialSecurityDeclareMapper">
    <resultMap id="contractImportInfo" type="com.authine.cloudpivot.web.api.entity.ContractImportInfo">
        <result property="employee_name" column="employee_name"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="identityNo" column="identityNo"/>
        <result property="contract_signing_date" column="contract_signing_date"/>
        <result property="contract_deadline" column="contract_deadline"/>
        <result property="positive_salary" column="positive_salary"/>
    </resultMap>

    <resultMap id="contractTerminationInfo" type="com.authine.cloudpivot.web.api.entity.ContractTerminationInfo">
        <result property="employee_name" column="employee_name"/>
        <result property="identityNo" column="identityNo"/>
        <!--<result property="id" column="id"/>-->
    </resultMap>

    <resultMap id="registerDeclareSheetInfo" type="com.authine.cloudpivot.web.api.entity.RegisterDeclareSheetInfo">
        <result property="employee_name" column="employee_name"></result>
        <result property="gender" column="gender"></result>
        <result property="identityNo" column="identityNo"></result>
        <result property="contract_salary" column="base_pay"/>
    </resultMap>
    <!--//查询获取用户选选中的公积金申报信息-->
    <select id="findContractInfo" resultMap="contractImportInfo">
        select
          employee_name,birthday,gender,identityNo,contract_signing_date,contract_deadline,positive_salary
        from
          i4fvb_social_security_declare
        where
          createdTime between #{param1} and #{param2}
    </select>
    <select id="findContractTerminationInfo" resultMap="contractTerminationInfo">
        select
          employee_name,identityNo
        from
          i4fvb_social_security_close
        where
          createdTime between #{param1} and #{param2}
    </select>
    <select id="findDeleteEmployeeDate" resultType="java.util.Date">
        select createdTime from i4fvb_delete_employee where identityNo  = #{identityNo}
    </select>
    <select id="findTimeNode" resultType="java.lang.Integer">
      select time_node from id34a_city_time_node where city =#{welfare_handler}  order by createdTime desc limit 0,1;
    </select>
    <select id="findRegisterDeclareInfo" resultMap="registerDeclareSheetInfo">
        select base_pay, employee_name, gender,identityNo from  i4fvb_social_security_declare where createdTime between #{param1} and #{param2}
    </select>
    <select id="findEmployeeContractInfo" resultType="java.util.Map">
        select labour_contract_start_time, labour_contract_end_time from i4fvb_employee_files where id_no = #{identityNo}
    </select>

    <resultMap id="registerDeclareSheetInfoFromStopPayment" type="com.authine.cloudpivot.web.api.entity.RegisterDeclareSheetInfo">
        <result property="contract_salary" column="social_security_base"/>
        <result property="employee_name" column="employee_name"/>
        <result property="gender" column="gender"/>
        <result property="identityNo" column="identityNo"/>
    </resultMap>
    <select id="findRegisterDeclareInfoFromStopPayment" resultMap="registerDeclareSheetInfoFromStopPayment">
              select social_security_base, employee_name, gender,identityNo from  i4fvb_social_security_close where createdTime between #{param1} and #{param2}
    </select>

</mapper>
