<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.SocialSecurityCardMapper">
    <insert id="batchInsertSocialSecurityCard" parameterType="java.util.List">
        INSERT INTO ivdlf_social_security_card
        (id, name, creater, createdDeptId, owner, ownerDeptId, createdTime, modifier, modifiedTime, workflowInstanceId,
        sequenceNo, sequenceStatus, ownerDeptQueryCode, submission_list, is_vip, is_emerg, upload_info, have_give_out,
        is_get, receive, operator, employee_name, identityNo, employee_status, mobile, address, process_select,
        process_detail, sin_card, have_submission_list, track_long, track_hide, issue_select, issue_detail,
        track_detail, province, city, first_level_client_name, second_level_client_name, welfare_handler)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.creater}, #{item.createdDeptId}, #{item.owner}, #{item.ownerDeptId},
            #{item.createdTime}, #{item.modifier}, #{item.modifiedTime}, #{item.workflowInstanceId}, #{item.sequenceNo},
            #{item.sequenceStatus}, #{item.ownerDeptQueryCode}, #{item.submission_list}, #{item.is_vip},
            #{item.is_emerg}, #{item.upload_info}, #{item.have_give_out}, #{item.is_get}, #{item.receive},
            #{item.operator}, #{item.employee_name}, #{item.identityNo}, #{item.employee_status}, #{item.mobile},
            #{item.address}, #{item.process_select}, #{item.process_detail}, #{item.sin_card},
            #{item.have_submission_list}, #{item.track_long}, #{item.track_hide}, #{item.issue_select},
            #{item.issue_detail}, #{item.track_detail}, #{item.province}, #{item.city}, #{item.first_level_client_name},
            #{item.second_level_client_name}, #{item.welfare_handler})
        </foreach>
    </insert>

    <update id="updateSocialSecurityCardWhenInsert" parameterType="java.util.List">
        UPDATE ivdlf_social_security_card card
        LEFT JOIN h_org_user org ON org.name = card.salesman
        LEFT JOIN id34a_operate_area area ON area.city = card.city
        LEFT JOIN i4fvb_employee_files files ON files.id_no = card.identityNo AND files.client_name = card.company_name
        SET card.salesman = CONCAT('[{"id":"', org.id, '","type":3}]'),
        card.city = area.id,
        card.operator = area.operator,
        card.is_vip = (case when files.employee_labels is null or files.employee_labels = '' then null when
        files.employee_labels like '%vip%' then '是' else '否' end),
        card.mobile = files.mobile
        WHERE card.id IN
        <foreach item="item" collection="list" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND org.departmentId in
        ('402881c16eed73b5016eeea565c50063','402881c16eed73b5016eeea574930086','402881c16eed73b5016eeea5676c0066',
        '402881c16eed73b5016eeea5978500e4','402881c16eed73b5016eeea5a07800fb','402881c16eed73b5016eeea5a730010a')
    </update>

    <insert id="insertTempData" parameterType="java.util.List">
        INSERT INTO import_social_security_card_temp
        (id, source_id, sequenceNo, process_select, process_detail, sin_card, issue_select, issue_detail)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.source_id}, #{item.sequenceNo}, #{item.process_select}, #{item.process_detail},
            #{item.sin_card}, #{item.issue_select}, #{item.issue_detail})
        </foreach>
    </insert>

    <update id="updateProcessByTempTable" parameterType="java.lang.String">
        UPDATE ivdlf_process process
        JOIN ivdlf_social_security_card card ON card.id = process.parentId
        JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo AND process.process_status = temp.process_select
        SET process.process_feedback = CONCAT(IFNULL(process.process_feedback,''), date_format(SYSDATE(), '%Y-%m-%d %H:%i' ), ':', IFNULL(temp.process_detail,' '), ':', IFNULL(temp.sin_card,' '), ';', CHAR(10))
        WHERE temp.source_id = #{sourceId}
    </update>

    <update id="updateProcessFeedbackByTempTable" parameterType="java.lang.String">
        UPDATE ivdlf_social_security_card card
        JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo
        SET card.process_select = temp.process_select,
            card.process_detail = temp.process_detail,
            card.sin_card = temp.sin_card
        WHERE temp.source_id = #{sourceId}
    </update>

    <update id="updateIssueByTempTable" parameterType="java.lang.String">
        UPDATE ivdlf_issue issue
        JOIN ivdlf_social_security_card card ON card.id = issue.parentId
        JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo AND issue.issue_status = temp.issue_select
        SET issue.issue_feedback = CONCAT(IFNULL(issue.issue_feedback,''), date_format(SYSDATE(), '%Y-%m-%d %H:%i' ), ':', IFNULL(temp.issue_detail,' '), ';', CHAR(10))
        WHERE temp.source_id = #{sourceId}
    </update>

    <update id="updateIssueFeedbackByTempTable" parameterType="java.lang.String">
        UPDATE ivdlf_social_security_card card
        JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo
        SET card.issue_select = temp.issue_select,
            card.issue_detail = temp.issue_detail,
            card.sin_card = temp.sin_card
        WHERE temp.source_id = #{sourceId}
    </update>

    <select id="getWorkItemIdsWhenProcessSuccess" resultType="java.lang.String">
        SELECT workitem.id
        FROM ivdlf_social_security_card card
                 JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo
                 JOIN biz_workflow_instance instance ON instance.bizObjectId = card.id
                 JOIN biz_workitem workitem ON workitem.instanceId = instance.id
        WHERE temp.process_select = '办理成功'
          AND temp.source_id = #{sourceId}
          AND workitem.participant = #{userId}
    </select>

    <select id="getWorkItemIdsWhenProcessError" resultType="java.lang.String">
        SELECT workitem.id
        FROM ivdlf_social_security_card card
                 JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo
                 JOIN biz_workflow_instance instance ON instance.bizObjectId = card.id
                 JOIN biz_workitem workitem ON workitem.instanceId = instance.id
        WHERE temp.process_select = '办理失败'
          AND temp.source_id = #{sourceId}
          AND workitem.participant = #{userId}
    </select>

    <select id="getWorkItemIdsWhenIssueSuccess" resultType="java.lang.String">
        SELECT workitem.id
        FROM ivdlf_social_security_card card
                 JOIN import_social_security_card_temp temp ON temp.sequenceNo = card.sequenceNo
                 JOIN biz_workflow_instance instance ON instance.bizObjectId = card.id
                 JOIN biz_workitem workitem ON workitem.instanceId = instance.id
        WHERE temp.issue_select = '发卡成功'
          AND temp.source_id = #{sourceId}
          AND workitem.participant = #{userId}
    </select>

    <delete id="deleteTempData">
        DELETE FROM ${tableName} WHERE source_id = #{sourceId}
    </delete>

    <select id="batchInsertInsuranceAndHousingFund" parameterType="java.util.List">
        INSERT INTO ivdlf_insurance_and_housing_fund(id, name, creater, createdDeptId, owner, ownerDeptId, createdTime,
        modifier, modifiedTime, workflowInstanceId, sequenceNo, sequenceStatus, ownerDeptQueryCode,
        have_submission_list, have_return_list, all_payment_amount, business_initiation_channel, is_emerg, is_vip,
        entrust, employee_name, identityNo, operator, detail, submission_list, track_record, track_records,
        operator_sign, progress_status, progress_feedback, return_list, return_sign, have_fund_approval,
        payment_amount_all, enjoy_feedback, enjoy_feedbacks, track_record_hide, enjoy_feedback_hide, city, province,
        first_level_client_name, second_level_client_name, business_type, business_item)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.creater}, #{item.createdDeptId}, #{item.owner}, #{item.ownerDeptId},
            #{item.createdTime}, #{item.modifier}, #{item.modifiedTime}, #{item.workflowInstanceId}, #{item.sequenceNo},
            #{item.sequenceStatus}, #{item.ownerDeptQueryCode}, #{item.have_submission_list}, #{item.have_return_list},
            #{item.all_payment_amount}, #{item.business_initiation_channel}, #{item.is_emerg}, #{item.is_vip},
            #{item.entrust}, #{item.employee_name}, #{item.identityNo}, #{item.operator}, #{item.detail},
            #{item.submission_list}, #{item.track_record}, #{item.track_records}, #{item.operator_sign},
            #{item.progress_status}, #{item.progress_feedback}, #{item.return_list}, #{item.return_sign},
            #{item.have_fund_approval}, #{item.payment_amount_all}, #{item.enjoy_feedback}, #{item.enjoy_feedbacks},
            #{item.track_record_hide}, #{item.enjoy_feedback_hide}, #{item.city}, #{item.province},
            #{item.first_level_client_name}, #{item.second_level_client_name}, #{item.business_type},
            #{item.business_item})
        </foreach>
    </select>
</mapper>