<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.SystemManageMapper">
    <select id="getTimeNodeByCity" parameterType="java.lang.String" resultType="java.lang.Integer">
        select time_node from id34a_city_time_node where city = #{cityName}
    </select>

    <select id="getWelfareHandlerByClientNameAndCity"
            resultType="com.authine.cloudpivot.web.api.entity.AppointmentSheet">
        select * from id34a_appointment_sheet where client_name = #{clientName} and city = #{city}
    </select>

    <select id="getOrgUserByMobile" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.OrgUser">
        SELECT * FROM h_org_user WHERE mobile = #{mobile}
    </select>

    <select id="getSmsHistoryById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.SmsHistory">
        SELECT * FROM id34a_sms_history WHERE id = #{id}
    </select>

    <select id="getOperateLeaderByCityAndWelfareHandler" resultType="com.authine.cloudpivot.web.api.entity.OperateLeader">
        select * from id34a_operate_leader where city = #{city} and welfare_handler = #{welfareHandler}
    </select>

    <select id="getSupplierById" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.Supplier">
        SELECT * FROM id34a_supplier WHERE id = #{id}
    </select>

    <select id="getCcpsByClientName" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.entity.Ccps">
        SELECT * FROM id34a_ccps WHERE client = #{clientName}
    </select>
    <resultMap id="nameAndUserName" type="java.util.Map">
        <id property="name" column="name"></id>
        <id property="username" column="username"></id>
    </resultMap>
    <select id="getNameAndUserNameByMobile" resultMap="nameAndUserName">
        SELECT name, username FROM h_org_user WHERE mobile = #{mobile}
    </select>
    <select id="getCcpsByClientNames" resultType="com.authine.cloudpivot.web.api.entity.Ccps">
        SELECT *
        FROM id34a_ccps
        WHERE first_level_client_name = #{firstLevelClientName}
          AND second_level_client_name = #{secondLevelClientName}
    </select>

    <select id="getOperateLeader" resultType="com.authine.cloudpivot.web.api.entity.OperateLeader">
        SELECT * FROM id34a_operate_leader WHERE city = #{city} AND welfare_handler = #{welfareHandler} AND second_level_client_name =  #{secondLevelClientName}
    </select>
</mapper>