<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.UpdateEmployeesMapper">
    <select id="getAddEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.AddEmployee">
        SELECT *
        FROM i4fvb_add_employee_update
        WHERE id = #{id}
    </select>

    <select id="getShAddEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.ShAddEmployee">
        SELECT *
        FROM i4fvb_sh_add_employee_update
        WHERE id = #{id}
    </select>

    <select id="getQgAddEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        SELECT *
        FROM i4fvb_nationwide_dispatch_update
        WHERE id = #{id}
    </select>

    <select id="getDeleteEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        SELECT *
        FROM i4fvb_add_employee_update
        WHERE id = #{id}
    </select>

    <select id="getShDeleteEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        SELECT *
        FROM i4fvb_sh_add_employee_update
        WHERE id = #{id}
    </select>

    <select id="getQgDeleteEmployeeUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        SELECT *
        FROM i4fvb_nationwide_dispatch_update
        WHERE id = #{id}
    </select>

    <select id="getEmployeeFilesUpdateById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.EmployeeFiles">
        SELECT *
        FROM i4fvb_employee_files_update
        WHERE id = #{id}
    </select>

    <select id="getEmployeeFilesById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.entity.EmployeeFiles">
        SELECT *
        FROM i4fvb_employee_files
        WHERE id = #{id}
    </select>

    <delete id="delEmployeeOrderFormDetails">
        DELETE FROM ${tableName} WHERE parentId = #{parentId}
        <if test="type == '1'">
            AND product_name IN ('养老保险','医疗保险','失业保险','工伤保险','生育保险','大病保险','综合保险','补充工伤','服务费','增值税费','风险管理费','福利产品')
        </if>
        <if test="type == '2'">
            AND product_name IN ('省直公积金','市直公积金','补充公积金','服务费','增值税费','风险管理费','福利产品')
        </if>
    </delete>

    <select id="getStartChargeTime" resultType="java.lang.Integer">
        SELECT distinct date_format(start_charge_time, '%Y%m')
        from ${tableName}
        WHERE parentId = #{parentId}
        ORDER BY start_charge_time
    </select>

    <select id="getEndChargeTime" resultType="java.lang.Integer">
        SELECT distinct date_format(end_charge_time, '%Y%m')
        from ${tableName}
        WHERE parentId = #{parentId}
        ORDER BY end_charge_time is null, end_charge_time
    </select>

    <select id="getMaxSortKey" resultType="java.lang.Double">
        SELECT MAX(sortKey)
        FROM ${tableName}
        WHERE parentId = #{parentId}
    </select>

    <insert id="addEmployeeOrderFormFixedValueDetails">
        INSERT INTO ${tableName} (id, parentId, sortKey, product_name, start_charge_time, end_charge_time, sum) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.parentId},#{item.sortKey},#{item.productName},#{item.startChargeTime},#{item.endChargeTime},#{item.sum})
        </foreach>
    </insert>

    <insert id="addEmployeeOrderFormDetails">
        INSERT INTO ${tableName} (id, parentId, sortKey, product_name, start_charge_time, end_charge_time, sum) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.parentId},#{item.sortKey},#{item.productName},#{item.startChargeTime},#{item.endChargeTime},#{item.sum})
        </foreach>
    </insert>

    <select id="getSumInTimeRange" resultType="java.lang.Double">
        SELECT SUM(sum) FROM ${tableName} WHERE parentId = #{parentId} AND date_format(start_charge_time, '%Y%m')
        <![CDATA[<=]]> #{startChargeTime}
        <if test="endChargeTime != null">
            AND (end_charge_time is null or date_format(end_charge_time, '%Y%m')>= #{endChargeTime})
        </if>
        <if test="endChargeTime == null">
            AND end_charge_time is null
        </if>
    </select>

    <update id="updateSocialSecurityDeclare"
            parameterType="com.authine.cloudpivot.web.api.entity.SocialSecurityDeclare">
        UPDATE i4fvb_social_security_declare
        SET name                     = #{employeeName},
            start_month              = #{startMonth},
            employee_name            = #{employeeName},
            gender                   = #{gender},
            identityNo               = #{identityNo},
            contract_signing_date    = #{contractSigningDate},
            contract_deadline        = #{contractDeadline},
            positive_salary          = #{positiveSalary},
            base_pay                 = #{basePay},
            mobile                   = #{mobile},
            welfare_handler          = #{welfareHandler},
            birthday                 = #{birthday},
            identityNo_type          = #{identityNoType},
            operate_leader           = #{operateLeader},
            employee_order_form_id   = #{employeeOrderFormId},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            city                     = #{city},
            remark                   = #{remark},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            employee_files_id        = #{employeeFilesId},
            add_employee_id          = #{addEmployeeId},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{id}
    </update>

    <update id="updateProvidentFundDeclare" parameterType="com.authine.cloudpivot.web.api.entity.ProvidentFundDeclare">
        UPDATE i4fvb_provident_fund_declare
        SET name                     = #{employeeName},
            employee_name            = #{employeeName},
            gender                   = #{gender},
            identityNo               = #{identityNo},
            start_month              = #{startMonth},
            provident_fund_base      =#{providentFundBase},
            corporate_payment        = #{corporatePayment},
            personal_deposit         = #{personalDeposit},
            total_deposit            = #{totalDeposit},
            welfare_handler          = #{welfareHandler},
            birthday                 = #{birthday},
            identityNo_type          = #{identityNoType},
            operate_leader           = #{operateLeader},
            employee_order_form_id   = #{employeeOrderFormId},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            city                     = #{city},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            employee_files_id        = #{employeeFilesId},
            add_employee_id          = #{addEmployeeId},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{id}
    </update>

    <update id="updateDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.DeleteEmployee">
        UPDATE i4fvb_delete_employee
        SET name                     = #{employeeName},
            employee_name            = #{employeeName},
            identityNo               = #{identityNo},
            leave_reason             = #{leaveReason},
            leave_time               = #{leaveTime},
            social_security_end_time = #{socialSecurityEndTime},
            remark                   = #{remark},
            identityNo_type          = #{identityNoType},
            provident_fund_end_time  = #{providentFundEndTime},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            social_security_city     = #{socialSecurityCity},
            provident_fund_city      = #{providentFundCity},
            s_welfare_handler        = #{sWelfareHandler},
            g_welfare_handler        = #{gWelfareHandler},
            gender                   = #{gender},
            birthday                 = #{birthday},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            sb_status                = #{sbStatus},
            gjj_status               = #{gjjStatus},
            return_reason            = #{returnReason},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{deleteEmployeeId}
    </update>

    <update id="updateShDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.ShDeleteEmployee">
        UPDATE i4fvb_sh_delete_employee
        SET name                         = #{employeeName},
            employee_name                = #{employeeName},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            client_num                   = #{clientNum},
            client_short_name            = #{clientShortName},
            OS_initiated_departure_time  = #{osInitiatedDepartureTime},
            departure_time               = #{departureTime},
            charge_end_time              = #{chargeEndTime},
            leave_reason                 = #{leaveReason},
            leave_remark                 = #{leaveRemark},
            provident_fund_transfer_mode = #{providentFundTransferMode},
            backtrack                    = #{backtrack},
            GE_leave_reason              = #{geLeaveReason},
            customer_num                 = #{customerNum},
            weather_leave_E              = #{weatherLeaveE},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{shDeleteEmployeeId}
    </update>

    <update id="updateQgDeleteEmployee" parameterType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        UPDATE i4fvb_nationwide_dispatch_delete
        SET name                         = #{employeeName},
            unique_num                   = #{uniqueNum},
            employee_name                = #{employeeName},
            contact_number               = #{contactNumber},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            national_business_wf_flag    = #{nationalBusinessWfFlag},
            involved                     = #{involved},
            business_customer_num        = #{businessCustomerNum},
            business_wf_status           = #{businessWfStatus},
            order_type                   = #{orderType},
            processing_status            = #{processingStatus},
            contracting_supplier         = #{contractingSupplier},
            contracting_representative   = #{contractingRepresentative},
            contracting_party_department = #{contractingPartyDepartment},
            into_pending_date            = #{intoPendingDate},
            task_list_update_date        = #{taskListUpdateDate},
            entry_date                   = #{entryDate},
            employee_email               = #{employeeEmail},
            order_id                     = #{orderId},
            order_start_date             = #{orderStartDate},
            assignment_date              = #{assignmentDate},
            entry_procedures_num         = #{entryProceduresNum},
            business_tips                = #{businessTips},
            order_end_date               = #{orderEndDate},
            withdrawal_date              = #{withdrawalDate},
            social_insurance_amount      = #{socialInsuranceAmount},
            provident_fund_amount        = #{providentFundAmount},
            supple_provident_fund_amount = #{suppleProvidentFundAmount},
            revocation_reason            = #{revocationReason},
            social_security_stop_reason  = #{socialSecurityStopReason},
            departure_date               = #{departureDate},
            departure_remark             = #{departureRemark},
            change_details               = #{changeDetails},
            change_take_effect_date      = #{changeTakeEffectDate},
            business_unit                = #{businessUnit},
            salesman                     = #{salesman},
            social_security_pay_method   = #{socialSecurityPayMethod},
            provident_fund_pay_method    = #{providentFundPayMethod},
            supplier_agreement_name      = #{supplierAgreementName},
            provident_fund_ratio         = #{providentFundRatio},
            supple_provident_fund_ratio  = #{suppleProvidentFundRatio},
            social_security_standard     = #{socialSecurityStandard},
            s_service_fee_start_date     = #{sServiceFeeStartDate},
            s_service_fee_end_date       = #{sServiceFeeEndDate},
            g_service_fee_start_date     = #{gServiceFeeStartDate},
            g_service_fee_end_date       = #{gServiceFeeEndDate},
            remark                       = #{remark},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            welfare_handler              = #{welfareHandler},
            employee_internal_num        = #{employeeInternalNum},
            is_retired_soldier           = #{isRetiredSoldier},
            is_poor_archivists           = #{isPoorArchivists},
            is_disabled                  = #{isDisabled},
            workplace                    = #{workplace},
            household_register_remarks   = #{householdRegisterRemarks},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{nationwideDispatchDelId}
    </update>

    <update id="updateAddEmployee" parameterType="com.authine.cloudpivot.web.api.entity.AddEmployee">
        UPDATE i4fvb_add_employee
        SET name                       = #{employeeName},
            employee_name              = #{employeeName},
            identityNo                 = #{identityNo},
            mobile                     = #{mobile},
            email                      = #{email},
            family_register_nature     = #{familyRegisterNature},
            employee_nature            = #{employeeNature},
            entry_time                 = #{entryTime},
            contract_start_time        = #{contractStartTime},
            contract_end_time          = #{contractEndTime},
            contract_salary            = #{contractSalary},
            social_security_start_time = #{socialSecurityStartTime},
            remark                     = #{remark},
            social_security_city       = #{socialSecurityCity},
            social_security_base       = #{socialSecurityBase},
            provident_fund_city        = #{providentFundCity},
            provident_fund_start_time  = #{providentFundStartTime},
            provident_fund_base        = #{providentFundBase},
            identityNo_type            = #{identityNoType},
            company_provident_fund_bl  = #{companyProvidentFundBl},
            employee_provident_fund_bl = #{employeeProvidentFundBl},
            first_level_client_name    = #{firstLevelClientName},
            second_level_client_name   = #{secondLevelClientName},
            household_register_remarks = #{householdRegisterRemarks},
            gender                     = #{gender},
            birthday                   = #{birthday},
            workplace                  = #{workplace},
            is_retired_soldier         = #{isRetiredSoldier},
            is_poor_archivists         = #{isPoorArchivists},
            is_disabled                = #{isDisabled},
            s_welfare_handler          = #{sWelfareHandler},
            g_welfare_handler          = #{gWelfareHandler},
            operator                   = #{operator},
            inquirer                   = #{inquirer},
            sb_status                  = #{sbStatus},
            gjj_status                 = #{gjjStatus},
            return_reason              = #{returnReason},
            provident_fund_name        = #{providentFundName},
            subordinate_department     = #{subordinateDepartment}
        WHERE id = #{addEmployeeId}
    </update>

    <update id="updateShAddEmployee" parameterType="com.authine.cloudpivot.web.api.entity.ShAddEmployee">
        UPDATE i4fvb_sh_add_employee
        SET name                        = #{employeeName},
            employee_name               = #{employeeName},
            unique_num                  = #{uniqueNum},
            identityNo                  = #{identityNo},
            commission_send             = #{commissionSend},
            identityNo_type             = #{identityNoType},
            order_code                  = #{orderCode},
            quotation_code              = #{quotationCode},
            sys_client_num              = #{sysClientNum},
            client_short_name           = #{clientShortName},
            project_proposals_name      = #{projectProposalsName},
            provident_fund_pay_direct   = #{providentFundPayDirect},
            social_security_pay_direct  = #{socialSecurityPayDirect},
            service_fee                 = #{serviceFee},
            entry_time                  = #{entryTime},
            benefit_start_time          = #{benefitStartTime},
            mobile                      = #{mobile},
            provident_fund_start_time   = #{providentFundStartTime},
            whether_consistent          = #{whetherConsistent},
            social_security_base        = #{socialSecurityBase},
            provident_fund_base         = #{providentFundBase},
            supplement_provident_fund_b = #{supplementProvidentFundB},
            charge_start_date           = #{chargeStartDate},
            dispatch_period_start_date  = #{dispatchPeriodStartDate},
            dispatch_deadline           = #{dispatchDeadline},
            start_date_trial            = #{startDateTrial},
            end_time_trial              = #{endTimeTrial},
            wage_trial                  = #{wageTrial},
            start_date_positive         = #{startDatePositive},
            end_date_positive           = #{endDatePositive},
            wage_positive               = #{wagePositive},
            phone                       = #{phone},
            employee_customer_side_num  = #{employeeCustomerSideNum},
            contact_address             = #{contactAddress},
            postal_code                 = #{postalCode},
            Hukou_location              = #{hukouLocation},
            mail                        = #{mail},
            bank_name                   = #{bankName},
            bank_account                = #{bankAccount},
            account_province_name       = #{accountProvinceName},
            account_city_name           = #{accountCityName},
            account_name                = #{accountName},
            bank_category               = #{bankCategory},
            city_name                   = #{cityName},
            tax_properties              = #{taxProperties},
            job_num                     = #{jobNum},
            HRO                         = #{hro},
            business_unit               = #{businessUnit},
            employee_status             = #{employeeStatus},
            synchronous_CSS             = #{synchronousCss},
            Induction_remark            = #{InductionRemark},
            tax_bureau                  = #{taxBureau},
            employee_attributes         = #{employeeAttributes},
            social_security_standards   = #{socialSecurityStandards},
            weather_online              = #{weatherOnline},
            work_system                 = #{workSystem},
            weather_Induction_E         = #{weatherInductionE},
            with_file                   = #{withFile},
            package_involves_procedures = #{packageInvolvesProcedures},
            social_security_section     = #{socialSecuritySection},
            u_supplement_provident_fund = #{uSupplementProvidentFund},
            p_supplement_provident_fund = #{pSupplementProvidentFund},
            first_level_client_name     = #{firstLevelClientName},
            second_level_client_name    = #{secondLevelClientName},
            is_retired_soldier          = #{isRetiredSoldier},
            is_poor_archivists          = #{isPoorArchivists},
            is_disabled                 = #{isDisabled},
            household_register_remarks  = #{householdRegisterRemarks},
            welfare_handler             = #{welfareHandler},
            gender                      = #{gender},
            birthday                    = #{birthday},
            workplace                   = #{workplace},
            operator                    = #{operator},
            inquirer                    = #{inquirer},
            return_reason               = #{returnReason},
            subordinate_department      = #{subordinateDepartment}
        WHERE id = #{shAddEmployeeId}
    </update>

    <update id="updateQgAddEmployee" parameterType="com.authine.cloudpivot.web.api.entity.NationwideDispatch">
        UPDATE i4fvb_nationwide_dispatch
        SET name                         = #{employeeName},
            unique_num                   = #{uniqueNum},
            employee_name                = #{employeeName},
            contact_number               = #{contactNumber},
            identityNo_type              = #{identityNoType},
            identityNo                   = #{identityNo},
            national_business_wf_flag    = #{nationalBusinessWfFlag},
            involved                     = #{involved},
            business_customer_num        = #{businessCustomerNum},
            business_wf_status           = #{businessWfStatus},
            order_type                   = #{orderType},
            processing_status            = #{processingStatus},
            contracting_supplier         = #{contractingSupplier},
            contracting_representative   = #{contractingRepresentative},
            contracting_party_department = #{contractingPartyDepartment},
            into_pending_date            = #{intoPendingDate},
            task_list_update_date        = #{taskListUpdateDate},
            entry_date                   = #{entryDate},
            employee_email               = #{employeeEmail},
            order_id                     = #{orderId},
            order_start_date             = #{orderStartDate},
            assignment_date              = #{assignmentDate},
            entry_procedures_num         = #{entry_procedures_num},
            business_tips                = #{businessTips},
            order_end_date               = #{orderEndDate},
            withdrawal_date              = #{withdrawalDate},
            social_insurance_amount      = #{socialInsuranceAmount},
            provident_fund_amount        = #{providentFundAmount},
            supple_provident_fund_amount = #{suppleProvidentFundAmount},
            revocation_reason            = #{revocationReason},
            social_security_stop_reason  = #{socialSecurityStopReason},
            departure_date               = #{departureDate},
            departure_remark             = #{departureRemark},
            change_details               = #{changeDetails},
            change_take_effect_date      = #{changeTakeEffectDate},
            business_unit                = #{businessUnit},
            salesman                     = #{salesman},
            social_security_pay_method   = #{socialSecurityPayMethod},
            provident_fund_pay_method    = #{providentFundPayMethod},
            supplier_agreement_name      = #{supplierAgreementName},
            provident_fund_ratio         = #{providentFundRatio},
            supple_provident_fund_ratio  = #{suppleProvidentFundRatio},
            social_security_standard     = #{socialSecurityStandard},
            s_service_fee_start_date     = #{sServiceFeeStartDate},
            s_service_fee_end_date       = #{sServiceFeeEndDate},
            g_service_fee_start_date     = #{gServiceFeeStartDate},
            g_service_fee_end_date       = #{gServiceFeeEndDate},
            remark                       = #{remark},
            first_level_client_name      = #{firstLevelClientName},
            second_level_client_name     = #{secondLevelClientName},
            subordinate_department       = #{subordinateDepartment},
            gender                       = #{gender},
            birthday                     = #{birthday},
            welfare_handler              = #{welfareHandler},
            employee_internal_num        = #{employeeInternalNum},
            is_retired_soldier           = #{isRetiredSoldier},
            is_poor_archivists           = #{isPoorArchivists},
            is_disabled                  = #{isDisabled},
            workplace                    = #{workplace},
            household_register_remarks   = #{householdRegisterRemarks},
            operator                     = #{operator},
            inquirer                     = #{inquirer},
            return_reason                = #{returnReason}
        WHERE id = #{nationwideDispatchId}
    </update>

    <update id="updateSocialSecurityClose" parameterType="com.authine.cloudpivot.web.api.entity.SocialSecurityClose">
        UPDATE i4fvb_social_security_close
        SET name                     = #{employeeName},
            employee_name            = #{employeeName},
            gender                   = #{gender},
            identityNo               = #{identityNo},
            birthday                 = #{birthday},
            welfare_handler          = #{welfareHandler},
            start_month              = #{startMonth},
            charge_end_month         = #{chargeEndMonth},
            resignation_remarks      = #{resignationRemarks},
            social_security_base     = #{socialSecurityBase},
            identityNo_type          = #{identityNoType},
            operate_leader           = #{operateLeader},
            employee_order_form_id   = #{employeeOrderFormId},
            status                   = #{status},
            first_level_client_name  = #{firstLevelClientName},
            second_level_client_name = #{secondLevelClientName},
            city                     = #{city},
            operator                 = #{operator},
            inquirer                 = #{inquirer},
            employee_files_id        = #{employeeFilesId},
            del_employee_id          = #{delEmployeeId},
            subordinate_department   = #{subordinateDepartment}
        WHERE id = #{id}
    </update>

    <update id="updateProvidentFundClose" parameterType="com.authine.cloudpivot.web.api.entity.ProvidentFundClose">
        UPDATE i4fvb_social_security_close
        SET name                     = #{employeeName},
            employee_name            = #{	employeeName	},
            gender                   = #{	gender	},
            identityNo               = #{	identityNo	},
            birthday                 = #{	birthday	},
            welfare_handler          = #{	welfareHandler	},
            start_month              = #{	startMonth	},
            charge_end_month         = #{	chargeEndMonth	},
            provident_fund_base      = #{	providentFundBase	},
            enterprise_deposit       = #{	enterpriseDeposit	},
            personal_deposit         = #{	personalDeposit	},
            total_deposit            = #{	totalDeposit	},
            identityNo_type          = #{	identityNoType	},
            operate_leader           = #{	operateLeader	},
            employee_order_form_id   = #{	employeeOrderFormId	},
            status                   = #{	status	},
            first_level_client_name  = #{	firstLevelClientName	},
            second_level_client_name = #{	secondLevelClientName	},
            city                     = #{	city	},
            operator                 = #{	operator	},
            inquirer                 = #{	inquirer	},
            employee_files_id        = #{	employeeFilesId	},
            del_employee_id          = #{	delEmployeeId	},
            subordinate_department   = #{	subordinateDepartment	}
        WHERE id = #{id}
    </update>
</mapper>